.description{
    /* height: 8vh;  */
    margin-top: 8vh;
    padding: 20px; 
    font-size: 10px;
    color: white; 
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif");
    background-size: cover;  */


}

/* <div>
 
}