.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif");
    background-size: cover; 
}
